.App {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}


.pic{
  width: 40%;
  margin-top: 35px;
  margin-left: -40%;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 5px solid rgb(25, 0, 255);
  animation-name:sample;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


.About{
  margin-left: 60%;
  margin-top: -30%;
}
.About h2{
  color:rgb(20, 20, 243);
}

.project{
  margin-top: 10%;
  margin-left: -40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project h1{
  color: rgb(20, 20, 243);
}

.Skills {
  text-align: left;
  margin-left: 40px;
  border-radius: 10px;
  margin-top:45px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.Skills h1{
  color:rgb(20, 20, 243);
}

.container {
  background-color: #ddd;
  margin-left: 35px;
  border-radius: 10px;
  width: 80%;
}

.react {width: 90%;text-align: center;border-radius: 5px; background-color: rgb(96, 96, 238);}
.js {width: 70%;text-align: center;border-radius: 5px; background-color: rgb(96, 96, 233);}
.cpp{width: 75%;text-align: center;border-radius: 5px; background-color: rgb(91, 91, 233);}
.html{width: 90%;text-align: center; border-radius: 5px;background-color: rgb(86, 86, 243);}
.python{width: 95%;text-align: center;border-radius: 5px; background-color: rgb(97, 97, 218);}


@keyframes sample{
  from{
    border: 5px solid blue;
  }
  to{
    border: 5px solid blue;
  }
}
